<ion-view view-title="{{'global.menu.account.settings' | translate}}">
  
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-show="vm.success || vm.error || vm.errorEmailExists">
        <div class="alert alert-success" ng-show="vm.success" translate="settings.messages.success">
          <strong>Settings saved!</strong>
        </div>

        <div class="alert alert-danger" ng-show="vm.errorEmailExists" translate="settings.messages.error.emailexists">
          <strong>E-mail is already in use!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" ng-show="vm.error" translate="settings.messages.error.fail">
          <strong>An error has occurred!</strong> Settings could not be saved.
        </div>

      </div>
      <div class="list">
        <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

          <label class="item item-input">
            <span class="input-label" translate="settings.form.firstname">First Name</span>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                   ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
          </label>
          <div ng-show="form.firstName.$dirty && form.firstName.$invalid" class="text-center">
            <p class="help-block"
               ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
              Your first name is required.
            </p>
            <p class="help-block"
               ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
              Your first name is required to be at least 1 character.
            </p>
            <p class="help-block"
               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
              Your first name cannot be longer than 50 characters.
            </p>
          </div>

          <label class="item item-input">
            <span class="input-label" translate="settings.form.lastname">Last Name</span>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                   ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
          </label>
          <div ng-show="form.lastName.$dirty && form.lastName.$invalid" class="text-center">
            <p class="help-block"
               ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
              Your last name is required.
            </p>
            <p class="help-block"
               ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
              Your last name is required to be at least 1 character.
            </p>
            <p class="help-block"
               ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
              Your last name cannot be longer than 50 characters.
            </p>
          </div>

          <label class="item item-input">
            <span class="input-label" translate="global.form.email">Email</span>
            <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                   ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
          </label>
          <div ng-show="form.email.$dirty && form.email.$invalid">
            <p class="help-block"
               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
              Your e-mail is required.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
              Your e-mail is invalid.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
              Your e-mail is required to be at least 5 characters.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
            Your e-mail cannot be longer than 100 characters.
            </p>
          </div>
          <label class="item item-input">
            <span class="input-label" translate="settings.form.language">Language</span>
            <select id="langKey" name="langKey" ng-model="vm.settingsAccount.langKey" ng-controller="JhiLanguageController as languageVm" ng-options="code as (code | findLanguageFromKey) for code in languageVm.languages"></select>
          </label>

          <button type="submit" ng-disabled="form.$invalid" class="button button-full button-positive" translate="settings.form.button">Save</button>
        </form>

      </div>
    </div>
  </ion-content>
</ion-view>




