<ion-view view-title="{{'activation.title' | translate}}">
  
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">

        <div class="alert alert-success" ng-show="vm.success" translate="activate.messages.success" translate-compile>
          <strong>Your user has been activated.</strong> Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.
        </div>

        <div class="alert alert-danger" ng-show="vm.error" translate="activate.messages.error">
          <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
