<ion-side-menus>
    <!--<ion-side-menus enable-menu-with-back-views="false">-->

    <!-- CONTENT -->
    <ion-side-menu-content>

        <!-- header bar -->
        <!-- the nav bar will be updated as we navigate between views -->
        <ion-nav-bar class="bar-positive">
            <!-- back button, shown if applicable -->
            <ion-nav-back-button>
            </ion-nav-back-button>
            <!-- nav button, shown if applicable -->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <!-- ROUTING INJECTED HERE: pageContent -->
        <ion-nav-view name="pageContent"></ion-nav-view>

    </ion-side-menu-content>

    <!-- SIDEMENU -->
    <ion-side-menu side="left">

        <!-- menu header -->
        <ion-header-bar class="bar-positive">
            <h1 class="title"></h1>
        </ion-header-bar>

        <!-- menu content -->
        <ion-content ng-switch="vm.isAuthenticated()">
            <ion-list>
                <ion-item menu-close ui-sref="home">
                    <span translate="global.menu.home">Home</span>
                </ion-item>
                <ion-item ng-switch-when="false" menu-close ng-click="vm.login()">
                    <span translate="global.menu.account.login">Sign In</span>
                </ion-item>
                <ion-item ng-switch-when="false" menu-close ui-sref="register">
                    <span translate="global.menu.account.register">Register</span>
                </ion-item>
                <ion-item ng-switch-when="true" menu-close ui-sref="settings">
                    <span translate="global.menu.account.settings">Settings</span>
                </ion-item>
                <ion-item ng-switch-when="true" menu-close ui-sref="password">
                    <span translate="global.menu.account.password">Password</span>
                </ion-item>
                
                <ion-item ng-switch-when="true" has-authority="ROLE_ADMIN" menu-close ui-sref="jhi-tracker">
                    <span translate="global.menu.admin.tracker">User Tracker</span>
                </ion-item>
                
                <ion-item ng-switch-when="true" menu-close ng-click="vm.logout()">
                    <span translate="global.menu.account.logout">Log Out</span>
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>
