<ion-view view-title="{{'reset.finish.title' | translate}}">
  
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-show="vm.success || vm.keyMissing || vm.error || vm.doNotMatch">

        <div class="alert alert-danger" translate="reset.finish.messages.keymissing" ng-show="vm.keyMissing">
          <strong>The password reset key is missing.</strong>
        </div>

        <div class="alert alert-warning" ng-hide="vm.success || vm.keyMissing">
          <p translate="reset.finish.messages.info">Choose a new password</p>
        </div>

        <div class="alert alert-danger" ng-show="vm.error">
          <p translate="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
        </div>

        <div class="alert alert-success" ng-show="vm.success">
          <p translate="reset.finish.messages.success" translate-compile><strong>Your password has been reset.</strong> Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.</p>
        </div>

        <div class="alert alert-danger" ng-show="vm.doNotMatch" translate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>

      </div>
      <div class="list" ng-show="!vm.success" ng-hide="vm.keyMissing">
        <form name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
          <label class="item item-input">
            <span class="input-label" translate="global.form.newpassword">New Password</span>
            <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                   ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
          </label>
          <div ng-show="form.password.$dirty && form.password.$invalid" class=text-center">
            <p class="help-block"
               ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
              Your password is required.
            </p>
            <p class="help-block"
               ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
              Your password is required to be at least 4 characters.
            </p>
            <p class="help-block"
               ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
              Your password cannot be longer than 50 characters.
            </p>
          </div>

          <div class="text-center">
            <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
          </div>

          <label class="item item-input">
            <span class="input-label" translate="global.form.confirmpassword">New password confirmation</span>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                   ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
          </label>
          <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid" class=text-center">
            <p class="help-block"
               ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
              Your confirmation password is required.
            </p>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
              Your confirmation password is required to be at least 4 characters.
            </p>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
              Your confirmation password cannot be longer than 50 characters.
            </p>
          </div>
          <button type="submit" ng-disabled="form.$invalid" class="button button-full button-positive" translate="reset.finish.form.button">Reset Password</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
