<ion-view view-title="{{'reset.request.title' | translate}}">
  
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-show="vm.success || vm.error || vm.errorEmailNotExists">

        <div class="alert alert-danger" translate="reset.request.messages.notfound" ng-show="vm.errorEmailNotExists">
          <strong>E-Mail address isn't registered!</strong> Please check and try again.
        </div>

        <div class="alert alert-warning" ng-hide="vm.success">
          <p translate="reset.request.messages.info">Enter the e-mail address you used to register.</p>
        </div>

        <div class="alert alert-success" ng-show="vm.success == 'OK'">
          <p translate="reset.request.messages.success">Check your e-mails for details on how to reset your password.</p>
        </div>
      </div>
      <div class="list" ng-show="!vm.success">
        <form name="form" role="form" novalidate ng-submit="vm.requestReset()" show-validation>
          <label class="item item-input">
            <span class="input-label" translate="global.form.email">Email</span>
            <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                   ng-model="vm.resetAccount.email" ng-minlength=5 ng-maxlength=100 required>
          </label>
          <div ng-show="form.email.$dirty && form.email.$invalid" class="text-center">
            <p class="help-block"
               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
              Your e-mail is required.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
              Your e-mail is invalid.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
              Your e-mail is required to be at least 5 characters.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
              Your e-mail cannot be longer than 100 characters.
            </p>
          </div>
          <button type="submit" ng-disabled="form.$invalid" class="button button-full button-positive" translate="reset.request.form.button">Reset</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
