<ion-view view-title="{{'global.menu.account.register' | translate}}">
  
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-show="vm.success || vm.error || vm.errorUserExists || vm.doNotMatch">
        <!--alerts -->
        <div class="alert alert-success" ng-show="vm.success" translate="register.messages.success">
          <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div class="alert alert-danger" ng-show="vm.error" translate="register.messages.error.fail">
          <strong>Registration failed!</strong> Please try again later.
        </div>

        <div class="alert alert-danger" ng-show="vm.errorUserExists" translate="register.messages.error.userexists">
          <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" ng-show="vm.errorEmailExists" translate="register.messages.error.emailexists">
          <strong>E-mail is already in use!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" ng-show="vm.doNotMatch" translate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>
      </div>
      <div class="list" ng-show="!vm.success" >

        <form name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

          <label class="item item-input">
            <span class="input-label" translate="global.form.username">Username</span>
            <input type="text" class="form-control" id="login" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                   ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
          </label>
          <div ng-show="form.login.$dirty && form.login.$invalid" class="text-center">
            <p class="help-block"
               ng-show="form.login.$error.required" translate="register.messages.validate.login.required">
              Your username is required.
            </p>
            <p class="help-block"
               ng-show="form.login.$error.minlength" translate="register.messages.validate.login.minlength">
              Your username is required to be at least 1 character.
            </p>
            <p class="help-block"
               ng-show="form.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
              Your username cannot be longer than 50 characters.
            </p>
            <p class="help-block"
               ng-show="form.login.$error.pattern" translate="register.messages.validate.login.pattern">
              Your username can only contain lower-case letters and digits.
            </p>
          </div>



          <label class="item item-input">
            <span class="input-label" translate="global.form.email">Email</span>
            <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                   ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
          </label>


          <div ng-show="form.email.$dirty && form.email.$invalid" class="text-center">
            <p class="help-block"
               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
              Your e-mail is required.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
              Your e-mail is invalid.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
              Your e-mail is required to be at least 5 characters.
            </p>
            <p class="help-block"
               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
              Your e-mail cannot be longer than 100 characters.
            </p>
          </div>




          <label class="item item-input">
            <span class="input-label" translate="global.form.newpassword">New password</span>
            <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                   ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
          </label>
          <div ng-show="form.password.$dirty && form.password.$invalid" class="text-center">
            <p class="help-block"
               ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
              Your password is required.
            </p>
            <p class="help-block"
               ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
              Your password is required to be at least 4 characters.
            </p>
            <p class="help-block"
               ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
              Your password cannot be longer than 50 characters.
            </p>
          </div>
          <div class="text-center">
            <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
          </div>
          <label class="item item-input">
            <span class="input-label" translate="global.form.confirmpassword">New password confirmation</span>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                   ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
          </label>
          <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid" class="text-center">
            <p class="help-block"
               ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
              Your confirmation password is required.
            </p>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
              Your confirmation password is required to be at least 4 characters.
            </p>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
              Your confirmation password cannot be longer than 50 characters.
            </p>
          </div>
          <button type="submit" ng-disabled="form.$invalid" class="button button-full button-positive" translate="register.form.button">Register</button>
        </form>
      </div>
      <div class="item item-text-wrap" translate="global.messages.info.authenticated" translate-compile>
        <a class="alert-link" href="" ng-click="vm.login()">Sign in</a>, or try the default accounts:<br/>- Admin (login="admin" and password="admin") <br/>- User (login="user" and password="user").
      </div>
    </div>
  </ion-content>
</ion-view>
